@import '../../../responsive.scss';

.information {
    flex: 1;
    height: max-content;
    margin-left: 95px;
    transition: margin-left .3s ease-in;
    &.istoggle{margin-left: 255px;}

    @include smartPhone {display: none;}
}