@import "../../../../responsive.scss";

.offers {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(auto, 200px);
    gap: 30px 10px;

    .offer-item {
        display: flex;
        gap: 10px;
        align-items: center;

        .icon {
            color: var(--head-color);
        }
    }
}